html,
body {
    font-size: 0.85em;
    overflow: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0 54px 0;
    width: auto;
    height: auto;
}

.tab-container {
    overflow: auto;
    height: 100%;
    min-height: 100%;
    padding: 1em;
}

ul.nav-tabs {
    margin: 0;
    padding: 0;
}

.tab-content {
    padding: 1.5em 1.5em 0.5em 1.5em;
    border: 1px solid #ddd;
    border-top: 0;
}

footer {
    background: #f1f1f1;
    border-top: 1px solid #ddd;
}

footer p {
    padding: 5px 0;
}

.node-menu {
    max-width: 250px;
    padding: 8px 0 8px 0px;
}

.node-menu li a {
    padding-right: 0;
}

.node-menu li a:hover {
    cursor: default;
}

.node-menu li .add-node,
.node-menu li .node-info {
    position: relative;
    top: -1px;
    margin: 0;
    padding: 0;
    display: none;
    font-size: 16px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.node-menu li .add-node:hover,
.node-menu li .node-info:hover {
    text-decoration: none;
    cursor: auto;
    text-shadow: 0 0 1px #dcdcdc, 0 0 10px rgba(240, 240, 240, 0.80);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.node-menu li:hover .add-node,
.node-menu li:hover .node-info {
    display: block;
}